.form-container {
    width: 100%;
}

.form-flex {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.form-group label {
    font-size: 16px;
    /* Tamaño de fuente */
    color: #333;
    /* Color del texto */
    margin-bottom: 6px;
    /* Espacio debajo de la etiqueta */
}

.form-group input {
    font-size: 16px;
    /*Tamañodefuente*/padding: 12px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--black);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-group input:focus {
    outline: none;
}

.form-group:first-child {
    width: 15%;
}

.form-group:nth-child(2) {
    width: calc(85% - 30px);
}

.form-group:nth-child(3) {
    width: 80%;
}

.form-group:last-child {
    width: calc(20% - 30px);

}

.input-button-group {
    position: relative;
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos al centro */
}

.input-button-group input {
    flex: 1;
    font-size: 16px;
    padding: 12px;
}

.operation-button-pasivo {
    padding: 0 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.operation-button-pasivo i {
    font-size: 1.5rem;
    color: var(--blue-clear);
    cursor: pointer;
}

.operation-button-pasivo i:hover {
    font-size: 1.5rem;
    color: var(--blue-strong);
}

.operation-button-pasivo:nth-child(1) {
    padding: 0;
    margin-left: 1rem;
}

.operation-button-pasivo:nth-child(1) i {
    color: red
}


ul.exclude-sites-list {
    margin-top: 16px;
    padding: 0;
    list-style: none;
    /* Sin viñetas */
}

ul.exclude-sites-list li {
    width: 100%;
    padding: 12px;
    /* Espaciado interno */
    background-color: var(--blue-strong);
    /* Fondo gris claro */
    margin-bottom: 6px;
    /* Espacio entre elementos */
    /* Bordes redondeados */
    font-size: 16px;
    /* Tamaño de fuente */
    color: white;
    /* Color del texto */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#addButton {
    position: absolute;
    right: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
    display: none;
    width: 40px;
    margin: auto;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--blue-strong);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}