.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #f9fafb; /* bg-gray-50 */
    border: 1px solid #e5e7eb; /* border-gray-200 */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 1rem; /* p-4 */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1.5rem; /* Añade espacio entre cada tarjeta */
}

.card:hover {
    background-color: #f3f4f6; /* hover:bg-gray-100 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
}
.card-header p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: #1f2937; /* text-gray-800 */
    margin-bottom: 0.5rem; /* space-y-2 */
}

.details {
    max-height: 300px;
    overflow-y: auto;
    word-break: break-word;
    margin-top: 1rem;
    /* No display: none; usamos hidden de Tailwind */
}

.list-disc {
    padding-left: 1.25rem; /* pl-5 */
}

li {
    margin-bottom: 1rem; /* mb-4 */
}

strong {
    font-size: 1.125rem; /* text-lg */
}

.code-html, .code-javascript {
    background-color: #4b5563; /* bg-gray-200 */
    color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: auto;
    font-family: monospace;
    font-size: 0.875rem; /* text-sm */
}

.default-text {
    background-color: transparent;
    margin-top: 0.5rem;
    font-family: monospace;
    color: #1f2937; /* text-gray-800 */
    font-size: 0.875rem; /* text-sm */
}

pre {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    white-space: pre-wrap;
}

code.language-html {
    color: #ff7f7f;
}

code.language-javascript {
    color: #f0e68c;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el número de columnas según el espacio disponible */
    grid-gap: 1.5rem; /* Controla el espacio entre las tarjetas */
    padding: 1rem;
}
