   /* Estilos CSS aquí */
   .input-box-documento {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.invalid-feedback {
    color: red;
}

.input_enviar {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}